body {
    background-image: linear-gradient(180deg, rgb(11, 11, 92), rgb(123, 123, 172));
    background-attachment: fixed;
}

.container {
    padding: 0px;
}
.container-fluid {
    padding: 0px;
}


#Bar {
    height: 100px;
    background-color: rgb(201, 198, 194);
    padding: 0%;
}

#logo {
    width:150px;
    float: left;
}

#webLogo {
    height: 100px;
    float: right;
    border-width: 5pt;
    border-color: black;
}

.card-body {
    margin: 0%;
    padding: 0%;
}


#chatCard {
    background-color: rgb(221, 222, 243);
    width : 80%;
    height: 420px;
    padding-left: 0;
    padding-right:0;
    position: absolute;
    top: 20%;
    left: 10%;
    border-width: 3pt;
    border-color: rgb(13, 13, 88);
}


.chat-bar {
    margin: 0%;
    padding: 0%;
    background-color: rgba(19, 28, 158, 0.822);
    height: 13%;
    text-align: center;
    padding-top: 2%;
    border-width: 2pt;
    color: white;
    font-weight: bold;
}

#chat {
    padding-left: 5%;
}

#chatMenu {
    background-color: rgb(152, 183, 219);
    padding: 0;
}

.user-bar {
    margin: 0%;
    padding: 0%;
    border-width: 0.5px;
    background-color: rgba(109, 101, 139, 0.841);
    padding-left: 0%;
    font-weight: bold;
}

#userName {
    padding: 3%;
    width: 100%;
    color: black;
    padding-left: 0;
    margin-left: 5%;
}

#addUser {
    padding: 3%;
    width: 40%;
    color: black;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    float: right;
    background-color: rgb(141, 154, 196);
}

#chatList {
    list-style-type:none
}


button.user {
    padding: 3%;
    border-width: 0.1pc;
    border-color: rgb(47, 47, 124);
    width: 100%;
    background-color: rgb(152, 183, 219);
    color: black;
}

button.user:hover {
    background-color: rgb(14, 21, 99);
    color: white
}

#chatWindow {
    background-image: linear-gradient(rgb(0, 174, 255), rgb(80, 78, 184), rgb(19, 12, 119));
    background-attachment: fixed;
    padding: 0%;
}